*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: system-ui, -apple-system, sans-serif;
    background-color: #f1efef;
}
.container{
    display: flex;
    justify-content: space-evenly;
    height: 55px;
}
.nav-link ul{
    display: flex;
    list-style: none;
    gap: 10px;
    margin-top: 20px;
}
.menu{
    margin-right: 70px;
    font-family: monospace;
    font-size: 1.7rem;
}
.nav-link ul li a{
    text-decoration: none;
    color: #094713;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    padding: 0 10px;
    letter-spacing: 0.5px;
}
.nav-link ul li a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background: #094713;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.nav-link ul li a:hover{
    color: #094713;
}
.nav-link ul li a:hover::after{
    width: 80%;
    transition: 0.3s;
}
.navlink ul a{
    text-decoration: none;
    color: #000000;
}
.nav-right{
    margin-top: 20px;
    margin-right: 0.5rem;
    font-family: monospace;
    font-size: 1rem;
    width: 138px;
    height: 30px;
    border: 1px solid #094713;
    border-radius: 5px;
    padding-top: 4px;
    text-align: center;
}
.nav-right a{
    text-decoration: none;
    color: #094713;
}
.nav-right:hover{
    transition: 0.7s;
    transform: scale(1.05);
}
.hero{
    width: auto;
    height: 530px;
    background-image: url('../img/tech.jpg');
    opacity: 0.9;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
    border-radius: 7px;
    line-height: 100%;
}
.hero h1{
    color: #f5f5f5;
    padding-top: 10rem;
    text-align: center;
    font-size: 70px;
    padding-bottom: 55px;
    font-weight: 600;
}
.hero h2{
    text-align: center;
    color: #f5f5f5;
    font-size: 70px;
    font-weight: 600;
    padding-bottom: 38px;
}
.hero h3{
    text-align: center;
    font-size: 65px;
    font-weight: 600;
    color: #f5f5f5;
    padding-top: 12rem;
    padding-bottom: 3.6rem;
}
.hero p{
    padding-top: 0.8rem;
    text-align: center;
    color: #f5f5f5;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 55px;
    line-height: 1.3;
}
.hero-link{
    gap: 30px;
    display: flex;
    text-align: center;
    padding-top: 20px;
    margin-left: 500px;
}
.hero-link3{
    width: 11.3rem;
    height: 2.5rem;
    border: 2px solid #ffffff;
    border-radius: 4px;
    padding-top: 0.6rem;
}
.hero-link1{
    width: 9rem;
    height: 2.2rem;
    border: 2px solid #ffffff;
    border-radius: 4px;
    padding-top: 6px;
}
.hero-link a{
    text-decoration: none;
    color: #f5f5f5;
}
.hero-link :hover{
    transition: 0.7s;
    transform: scale(1.05);
}
.about{
    display: flex;
    width: auto;
    height: 37rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-top: 6rem;
}
.about1 h1{
    width: 6.5rem;
    height: 1.8rem;
    color: #f5f5f5;
    background-color: #094713;
    border-radius: 8px;
    padding: 0px 0px 0px 18px;
    font-size: 20px;
    font-weight: 500;
}
.about1 p{
    font-size: 38px;
    font-weight: 600;
    color: #094713;
    line-height: 1;
    padding-top: 10px;
}
.about1 h2{
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    line-height: 1;
    padding-top: 17px;
}
.about1 img{
    padding-top: 25px;
    width: 37.2rem;
    height: 22.6rem;
    margin-right: 27px;
    border-radius: 10px;
}
.vision{
    width: 42rem;
    height: 10rem;
    background-color: #094713;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
    transition: all 0.35s ease;
}
.vision h1{
    font-size: 34px;
    font-weight: 600;
    color: #ffffff;
    line-height: 1;
    padding-top: 15px;
    padding-left: 13px;
}
.vision h2{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.2;
    padding-top: 15px;
    padding-left: 13px;
}
.vision:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(3, 77, 7, 0.308);
}
.about-link{
    width: 9rem;
    height: 2.2rem;
    border: 2px solid #094713;
    border-radius: 7px;
    padding-top: 3px;
    text-align: center;
}
.about-link a{
    text-decoration: none;
    color: #094713;
}
.about-link:hover{
    border: 2px solid #235f2d;
    transition: 0.5s ease;
    transform: scale(1.05);
}
.values {
    width: auto;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-top: 4rem;
}
.values h1{
    font-size: 36px;
    font-weight: 600;
    color: #094713;
    line-height: 1;
}
.values-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.7rem;
}
.box{
    background: #094713f3;
    border: 1px solid #e2e8f0;
    border-radius: 0.6rem;
    position: relative;
    transition: all 0.35s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    margin-top: 2rem;
    width: 14.8rem;
    height: 15rem;
    padding-top: 1.5rem;
}
.box:hover{
    transform: translateY(-12px);
    box-shadow: 0 20px 40px rgba(3, 77, 7, 0.308);
}
.avatar {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    object-fit: cover;
    border: 1px solid #ffffff6e;
    margin: 1.2rem 0rem 0.8rem 5.5rem;
}
.grid-info h1{
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
    color: #e2e8f0;
    padding-bottom: 5px;
    text-align: center;
}
.grid-info h2{
    font-size: 0.8rem;
    margin-bottom: 0.6rem;
    color: #e2e8f0;
    font-weight: 400;
    text-align: center;
}
.service{
    font-family: system-ui, -apple-system, sans-serif;
    margin-top: 4.7rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    width: auto;
    background-color: #e9e9e9;
    border-radius: 5px;
    height: 112rem;
}
.service-info h1{
    font-size: 38px;
    font-weight: 600;
    color: #094713;
    line-height: 1;
    padding-top: 2.5rem;
    text-align: center;
}
.service-info p{
    font-size: 15px;
    font-weight: 300;
    color: #000000;
    line-height: 1.1;
    padding-top: 17px;
    text-align: center;
}
.service-link{
    display: flex;
    gap: 2rem;
    margin-top: 1.4rem;
    margin-left: 29.2rem;
}
.service-link1{
    width: 12.5rem;
    height: 2.2rem;
    background-color: #094713;
    padding-top: 4px;
    text-align: center;
    border-radius: 4px;
}
.service-link2{
    width: 9rem;
    height: 2.2rem;
    border: 2px solid #094713;
    padding-top: 3px;
    text-align: center;
    border-radius: 4px;
}
.service-link1 a{
    text-decoration: none;
    color: #e2e8f0;
}
.service-link2 a{
    text-decoration: none;
    color: #094713;
}
.service-link1:hover{
    border: 2px solid #235f2d;
    transition: 0.5s ease;
    transform: scale(1.05);
}
.service-link2:hover{
    border: 2px solid #094713;
    transition: 0.5s ease;
    transform: scale(1.05);
}
.service-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.8rem;
    margin-top: 2.5rem;
    justify-content: space-between;
}
.flex{
    width: 25.2rem;
    height: 30rem;
    border: 1.5px solid #094713;
    background-color: #e9e9e9;
    text-align: left;
    padding: 1rem;
    border-radius: 5px;
    position: relative;
    transition: all 0.35s ease;
}
.flex:hover{
    transform: translateY(-4px);
    box-shadow: 0 20px 40px rgba(53, 75, 54, 0.308);
}
.flex-img{
    display: inline-flex;
}
.flex-image{
    width: 22.9rem;
    height: 15.8rem;
    border-radius: 5px;
}
.flex-txt{
    margin-top: 1rem;
}
.flex-txt h1{
    font-size: 32px;
    font-weight: 600;
    color: #094713;
    line-height: 1;
}
.flex-txt p{
    font-size: 17px;
    font-weight: 400;
    color: #000000;
    line-height: 1.1;
    padding-top: 1.1rem;
}
.set{
    display: flex;
    margin-top: 5rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    width: auto;
    background-color: #e9e9e9;
    border-radius: 5px;
    height: 37rem;
}
.set-info{
    padding-top: 3rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
}
.set-info h1{
    width: 8.5rem;
    height: 1.8rem;
    color: #f5f5f5;
    background-color: #094713;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}
.set-info h2{
    font-size: 38px;
    font-weight: 600;
    color: #094713;
    line-height: 1.5;
    padding-top: 1rem;
}
.set-info p{
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    line-height: 1.3;
    padding-top: 1.2rem;
}
.set-info ul{
    list-style: inside;
    padding-bottom: 0.7rem;
    padding-top: 1.5rem;
    padding-left: 0.8rem;
}
.set-info li{
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    line-height: 1.5;
    padding-bottom: 0.8rem;
}
.set-flex{
    padding-top: 3rem;
}
.flex-content{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.content-info{
    background-color: #094713;
    width: 19rem;
    height: 15rem;
    border-radius: 10px;
    padding: 1.5rem;
    position: relative;
    transition: all 0.35s ease;
}
.coin{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    object-fit: cover;
    border: 1px solid #ffffff6e;
}
.content-info h1{
    font-size: 1.3rem;
    color: #e2e8f0;
    padding-bottom: 5px;
    text-align: left;
}
.content-info p{
    font-size: 0.8rem;
    color: #e2e8f0;
    font-weight: 400;
    text-align: left;
}
.content-info:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(3, 77, 7, 0.308);
}
.stars{
    padding-top: 0.5rem;
    color: #fbbf24;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.15rem;
}
.location{
    display: flex;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    gap: 1rem;
    margin-top: 2rem;
}
.loc1{
    background-color: #094713;
    width: 39rem;
    height: 10rem;
    border-radius: 7px;
    padding: 1.5rem;
    position: relative;
    transition: all 0.35s ease;
}
.loc1 h1{
    font-size: 1.3rem;
    color: #e2e8f0;
    text-align: left;
    font-weight: 600;
}
.loc1 h2{
    font-size: 1rem;
    color: #e2e8f0;
    font-weight: 400;
    text-align: left;
    padding-top: 0.7rem;
}
.loc-link{
    margin-top: 1.2rem;
}
.loc-link a{
    color: #e9e9e9;
    text-decoration: none;
    position: relative;
    transition: all 0.35s ease;
}
.loc-link a:hover{
    color: rgb(179, 175, 175);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(3, 77, 7, 0.308);  
}
.loc1:hover{
    box-shadow: 0 10px 20px rgba(3, 77, 7, 0.308);
}
.reach{
    margin-top: 5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: auto;
    background-color: #094713;
    border-radius: 5px;
    height: 21rem;
    padding: 1.8rem;
}
.reach h1{
    font-size: 38px;
    font-weight: 600;
    color: #ffffff;
    line-height: 1;
    padding-top: 1rem;
}
.reach p{
    font-size: 1rem;
    color: #e2e8f0;
    font-weight: 400;
    margin-top: 1.4rem;
}
.reach-box{
    display: flex;
    gap: 3rem;
    margin-top: 1.5rem;
}
.mini-box{
    display: inline-flex;
    border: 2px solid #ffffff;
    border-radius: 7px;
    width: 35rem;
    height: 6.3rem;
}
.mini-box h1{
    font-size: 1.3rem;
    color: #e2e8f0;
    font-weight: 500;
    margin-top: 0.3rem;
    line-height: 1.7rem;
}
.mini-box b{
    font-size: 1rem;
    color: #e2e8f0;
    font-weight: 400;
}
.mini-box:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(3, 77, 7, 0.308);  
}
.coin1{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    object-fit: cover;
    margin-top: 1.2rem;
    margin-left: 0.4rem;
    margin-right: 0.8rem;
}
.map{
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}
.map-img{
    margin-right: 1.5rem;
    width: 78rem;
    height: 40rem;
    margin-top: -0.2rem;
}
.exco{
    display: flex;
    margin-top: -0.2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: auto;
    background-color: #094713;
    border-radius: 5px;
    height: 23rem;
    padding: 1.3rem;
    padding-top: 5rem;
    gap: 7rem;
}
.exco1 h1{
    font-size: 1rem;
    color: #e2e8f0;
    font-weight: 400;   
}
.exco1 img{
    height: 5rem;
    width: 4rem;
}
.company h1{
    font-size: 1.3rem;
    color: #e2e8f0;
    font-weight: 500;
    line-height: 1.7rem; 
}
.company ul{
    list-style: none;
    padding-bottom: 0.7rem;
    padding-top: 1.5rem;
    padding-left: 0.4rem;
}
.company li{
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    line-height: 1.5;
}
.company a{
    text-decoration: none;
    color: #e2e8f0;
}
.exco3 h1{
    font-size: 1rem;
    color: #e2e8f0;
    font-weight: 500; 
    line-height: 2; 
}
.exco3 p{
    font-size: 1rem;
    color: #e2e8f0;
    font-weight: 400;
    line-height: 2;
}
.footer{
    height: 6rem;
    width: auto;
    background-color: #06300d;
    color: #e9e9e9;
    text-align: center;
    margin-top: -0.2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.footer h1{
    padding-top: 2.5rem;
    font-size: 1rem;
    font-weight: 300;
}
.logo{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 100%;
    object-fit: cover;
}
.coin2{
    width: 2.6rem;
    height: 2rem;
    border-radius: 7px;
    /* object-fit: cover; */
    margin-top: 2rem;
    margin-left: 0.6rem;
    margin-right: 0.8rem;
}
.coin3{
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 7px;
    /* object-fit: cover; */
    margin-top: 1.7rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}